@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($duaration) {
  -webkit-transition: all $duaration;
     -moz-transition: all $duaration;
      -ms-transition: all $duaration;
      transition: all $duaration;
}